# IDE and editor files
.vscode

# Source files (we publish dist only)
src

# Test files in dist
dist/**/*.test.*
dist/test-utils.*

# Build scripts
scripts

# Config files
tsconfig*.json
.editorconfig
.prettierignore
.prettierrc
eslint.config.mjs

# Temp files
tmp
